In [165]:
import pandas as pd

In [167]:
df = pd.read_csv("Data/spotify_millsongdata.csv")

In [168]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [171]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [173]:
df.shape

(57650, 4)

In [175]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [177]:
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [179]:
df.head(10)

,artist,song,text
0,Roxy Music,Prairie Rose,Texas That's where I \r\nBelong \r\nIt seems...
1,Ingrid Michaelson,Little Romance,You're in the mood for love \r\nYou're in the...
2,Moody Blues,Send Me No Wine,Send me no wine \r\nTo make an invitation. \...
3,Kinks,Berkeley Mews,The leaves of brown came falling through the v...
4,Nirvana,Beeswax,Why doesn't she need him for a father? \r\nNo...
5,P!nk,Centerfold,"(can you turn it up please, just a tiny bit, t..."
6,ABBA,Our Last Summer,The summer air was soft and warm \r\nThe feel...
7,ZZ Top,Fuzzbox Voodoo,I went down with the fuzzbox \r\nGrindin' a p...
8,Green Day,Green Day,A small cloud has fallen \r\nThe white mist h...
9,Tom T. Hall,I Like Beer,In some of my songs I have casually mentioned ...

In [181]:
df['text'][0]

"Texas That's where I  \r\nBelong  \r\nIt seems to me  \r\nTexas Lonesome star  \r\nShine on  \r\nThe big country  \r\nTexas With open skies  \r\nAnd you  \r\nFor company  \r\nTexas Oh prairie rose  \r\nHow happy  \r\nI should be  \r\n  \r\nHey hey You can take it from me  \r\nHey hey I'll be coming, you'll see  \r\nHey hey Oh what a state to be in  \r\nHey hey You're tantalizing me  \r\nTexas I will compose  \r\nIn fancy rhyme  \r\nOr just plain prose  \r\nTexas A song of praise  \r\n  \r\nTo you  \r\nPrairie rose  \r\nTexas Though I'm not sure  \r\nI can explain  \r\nYour strange allure  \r\nTexas Prairie rose  \r\nA crown of thorns  \r\nA scented flower  \r\n  \r\nHey hey I'd better leave right away  \r\nHey hey I can hear you calling me  \r\nPrairie rose\r\n\r\n"

In [183]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [186]:
df['text'] = df['text'].str.lower().replace(r'\w\s', '').replace(r'\n', '', regex=True)

In [188]:
df.tail(5)

,artist,song,text
4995,Fifth Harmony,Top Down,[hook] \rblaze it up and we'll be cruisin' \...
4996,Backstreet Boys,Helpless,i wake up every morning and see your face \rl...
4997,Steve Miller Band,Jungle Love,i met you on somebody's island \ryou thought ...
4998,The Script,You won't feel a thing,i've been kicked right down \ri've been spat ...
4999,Wyclef Jean,The Streets Are Like A Jungle,"one, two... \rone, two-one,two... \ryo! \r ..."

In [190]:
import re

def token(txt):
    return re.findall(r'\b\w+\b', txt.lower())  # Extracts words properly

In [192]:
token("you are beautiful, beauty")

['you', 'are', 'beautiful', 'beauty']

In [194]:
df['text'].apply(lambda x: token(x))

0       [texas, that, s, where, i, belong, it, seems, ...
1       [you, re, in, the, mood, for, love, you, re, i...
2       [send, me, no, wine, to, make, an, invitation,...
3       [the, leaves, of, brown, came, falling, throug...
4       [why, doesn, t, she, need, him, for, a, father...
                              ...
4995    [hook, blaze, it, up, and, we, ll, be, cruisin...
4996    [i, wake, up, every, morning, and, see, your, ...
4997    [i, met, you, on, somebody, s, island, you, th...
4998    [i, ve, been, kicked, right, down, i, ve, been...
4999    [one, two, one, two, one, two, yo, hey, yo, th...
Name: text, Length: 5000, dtype: object

In [196]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [198]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [200]:
matrix=tfid.fit_transform(df['text'])

In [201]:
similer = cosine_similarity(matrix)

In [203]:
similer[0]

array([1.        , 0.00250636, 0.01057339, ..., 0.00113416, 0.00674435,
       0.08825722])

In [208]:
df[df['song']=='Top Down'].index[0]

4995

Recommender Function

In [219]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similer[idx])), reverse=True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [221]:
recommender("Top Down")

["Don't Cry No More",
 'I Was Made To Love Him',
 'I Can Do Better',
 "Ain't That Peculiar (Demo)",
 'Hey You',
 'Lost Highway',
 'Hey Hey',
 'Walking The Dog',
 'All I Ever Wanted',
 'Loaded',
 'I Love This Town',
 'No Money Down',
 'Into The Nightlife',
 'Prairie Rose',
 'Learning How To Smile',
 'The Dividing Line',
 'In The City',
 'Blackjack',
 "I Can't See My Feeling",
 'Al Genina (Leave The Light On)']

In [223]:
import pickle

In [227]:
pickle.dump(similer, open("similarity", "wb"))

In [229]:
pickle.dump(df, open("df", "wb"))